.social-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: #F3F3F3;
    box-shadow: 0 4px 4px #0004;
}

.social-icon:hover {
    background-color: #FF3131;
    transform: translateY(-15%);
    color: var(--text-color-light);
    transition: 0.5s;
}